body{
    margin-top:20px;
    background:#f5f5f5;
}

.task-board {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}


.task-board aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.task-board .left-board {
    width: 25%;
    background: #e5e8ef;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
}
.task-board .right-board {
    width: 50%;
    background: #fff;
    border-right: 1px solid #e5e8ef;
}



.task-board .left-board .user-head {
    background: #3556AB;
    color: #FFFFFF;
    min-height: 95px;
    padding: 15px;
}


.task-board-head {
    background: #3556AB;
    color: #FFFFFF;
    min-height: 95px;
    padding: 15px;
}

ul.chat-list {
    border-bottom: 1px solid #d5d7de;
    padding-left: 0;
    list-style: none;
    height: 50vh;
}

.task-board .left-board footer {

    padding: 15px;
    height: 70px;
    width: 33%;
    position: absolute;
    bottom: 0;
}

.task-board .right-board footer {
    padding: 15px;
    height: 70px;
    width: 68%;
    position: absolute;
    bottom: 0;
    border-right: 1px solid #E5E8EF;
}

.chat-txt {
    float: left;
    width: 70%;
    margin-right: 5px;
}

.addtask{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.completed{
  text-decoration: line-through;
}

.btn-primary {
  background-color: #3556AB;
}
.task-content {
  display: inline-block;
  margin: 10px;
}